In [1]:
import numpy as np
import pandas as pd
from bokeh.plotting import figure, output_file, show
from datetime import datetime
import urllib.request as request
import json 
from operator import truediv 
from bokeh.models import ColumnDataSource
from bokeh.models.tools import HoverTool
from datetime import date

output_file('il_covid-19_positivityrate.html')

In [2]:
data=pd.read_json('https://covidtracking.com/api/v1/states/il/daily.json')
df=pd.DataFrame(data)

In [3]:
positive_increase=df['positiveIncrease']
positive_increase.tolist()

[0,
 828,
 724,
 738,
 646,
 786,
 910,
 894,
 715,
 601,
 462,
 658,
 634,
 831,
 593,
 546,
 623,
 473,
 672,
 673,
 732,
 766,
 625,
 797,
 1382,
 867,
 975,
 1156,
 929,
 982,
 1614,
 974,
 1343,
 1462,
 1622,
 1527,
 1111,
 1178,
 1713,
 2508,
 2352,
 2758,
 2268,
 2388,
 1545,
 2294,
 1734,
 2088,
 2432,
 3239,
 1677,
 4014,
 1266,
 1656,
 2325,
 2887,
 2641,
 2270,
 2122,
 2341,
 2994,
 2450,
 3137,
 2563,
 2253,
 2219,
 1980,
 2126,
 2119,
 2724,
 1826,
 2049,
 1551,
 1151,
 1197,
 1585,
 1842,
 1140,
 1346,
 1222,
 1173,
 1672,
 1293,
 1465,
 1344,
 1529,
 1287,
 1006,
 899,
 1453,
 1209,
 715,
 986,
 937,
 461,
 1105,
 465,
 488,
 673,
 330,
 262,
 224,
 296,
 168,
 163,
 134,
 129,
 66,
 29,
 18,
 14,
 7,
 6,
 0,
 12,
 1,
 0,
 1,
 0,
 1,
 0]

In [4]:
test_increase=df['totalTestResultsIncrease']
test_increase.tolist()

[0,
 33090,
 31069,
 26918,
 23789,
 30237,
 30478,
 31686,
 29331,
 20507,
 18219,
 23816,
 25965,
 27310,
 25504,
 29987,
 18729,
 18627,
 22040,
 21844,
 24911,
 22325,
 20820,
 20309,
 16823,
 20700,
 21155,
 18903,
 22841,
 24471,
 16431,
 20014,
 21154,
 25343,
 21796,
 25993,
 17179,
 17230,
 21643,
 25674,
 25114,
 25113,
 29307,
 21029,
 18443,
 21297,
 20295,
 23047,
 26565,
 22678,
 17668,
 29266,
 12441,
 13653,
 16617,
 20671,
 17783,
 14974,
 13139,
 13834,
 19417,
 15208,
 14821,
 13200,
 14478,
 14561,
 12676,
 13335,
 11985,
 16316,
 8970,
 9349,
 6639,
 5040,
 5914,
 7241,
 7574,
 5660,
 6313,
 4848,
 5033,
 8586,
 4622,
 6670,
 5791,
 6334,
 5790,
 3959,
 5402,
 5533,
 4392,
 3272,
 5159,
 4779,
 2684,
 2271,
 3949,
 4911,
 2422,
 2740,
 1613,
 1536,
 2079,
 1960,
 1134,
 1096,
 552,
 474,
 512,
 151,
 36,
 35,
 28,
 0,
 65,
 1,
 0,
 12,
 15,
 42,
 0]

In [5]:
dates=df['date']
dates.tolist()

[20200702,
 20200701,
 20200630,
 20200629,
 20200628,
 20200627,
 20200626,
 20200625,
 20200624,
 20200623,
 20200622,
 20200621,
 20200620,
 20200619,
 20200618,
 20200617,
 20200616,
 20200615,
 20200614,
 20200613,
 20200612,
 20200611,
 20200610,
 20200609,
 20200608,
 20200607,
 20200606,
 20200605,
 20200604,
 20200603,
 20200602,
 20200601,
 20200531,
 20200530,
 20200529,
 20200528,
 20200527,
 20200526,
 20200525,
 20200524,
 20200523,
 20200522,
 20200521,
 20200520,
 20200519,
 20200518,
 20200517,
 20200516,
 20200515,
 20200514,
 20200513,
 20200512,
 20200511,
 20200510,
 20200509,
 20200508,
 20200507,
 20200506,
 20200505,
 20200504,
 20200503,
 20200502,
 20200501,
 20200430,
 20200429,
 20200428,
 20200427,
 20200426,
 20200425,
 20200424,
 20200423,
 20200422,
 20200421,
 20200420,
 20200419,
 20200418,
 20200417,
 20200416,
 20200415,
 20200414,
 20200413,
 20200412,
 20200411,
 20200410,
 20200409,
 20200408,
 20200407,
 20200406,
 20200405,
 20200404,
 20200403,
 20200402,
 20200401,
 20200331,
 20200330,
 20200329,
 20200328,
 20200327,
 20200326,
 20200325,
 20200324,
 20200323,
 20200322,
 20200321,
 20200320,
 20200319,
 20200318,
 20200317,
 20200316,
 20200315,
 20200314,
 20200313,
 20200312,
 20200311,
 20200310,
 20200309,
 20200308,
 20200307,
 20200306,
 20200305,
 20200304]

In [6]:
positive=df['positive']
positive.tolist()

h_currently=df['hospitalizedCurrently']
h_currently.tolist()

deaths=df['deathIncrease']
deaths.tolist()

[0,
 28,
 21,
 14,
 15,
 26,
 34,
 40,
 63,
 36,
 24,
 22,
 111,
 0,
 52,
 87,
 72,
 18,
 19,
 29,
 78,
 90,
 77,
 94,
 198,
 40,
 69,
 59,
 115,
 96,
 113,
 22,
 60,
 60,
 84,
 103,
 160,
 39,
 28,
 66,
 75,
 108,
 82,
 146,
 145,
 57,
 48,
 71,
 130,
 136,
 191,
 142,
 53,
 57,
 108,
 130,
 137,
 136,
 176,
 44,
 59,
 102,
 102,
 140,
 90,
 142,
 50,
 59,
 79,
 107,
 123,
 97,
 119,
 59,
 31,
 125,
 62,
 124,
 80,
 74,
 74,
 43,
 81,
 68,
 66,
 82,
 73,
 33,
 31,
 33,
 53,
 16,
 42,
 26,
 8,
 18,
 13,
 8,
 7,
 3,
 4,
 3,
 3,
 1,
 1,
 3,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0]

In [7]:
date1 = ('2020-01-29')
date2 = (str(date.today()))
date_range=pd.date_range(date1, date2).to_pydatetime().tolist()

In [8]:
rate=[]
for p, t in zip(positive_increase, test_increase):
    if t==0:
        rate.append(0)
    else:
        rate.append(p/t)

In [9]:
m_dates = []
for item in dates:
    m_dates.append(str(item))

In [10]:
r_dates = []
def insertChar(mystring, position, chartoinsert ):
    longi = len(mystring)
    mystring   =  mystring[:position] + chartoinsert + mystring[position:] 
    return mystring 
    
for m in m_dates:
    r_dates.append(insertChar(m, 4, '-'))

f_dates = []
for r in r_dates:
    f_dates.append(insertChar(r, 7, '-'))

d_dates = []
for f in f_dates:
    d_dates.append(datetime.strptime(f, '%Y-%m-%d'))

In [11]:
t_deaths=df['death']
t_deaths.tolist()

t_pos=df['positive']
t_pos.tolist()

[145066,
 145066,
 144238,
 143514,
 142776,
 142130,
 141344,
 140434,
 139540,
 138825,
 138224,
 137762,
 137104,
 136470,
 135639,
 135046,
 134500,
 133877,
 133404,
 132732,
 132059,
 131327,
 130561,
 129936,
 129139,
 127757,
 126890,
 125915,
 124759,
 123830,
 122848,
 121234,
 120260,
 118917,
 117455,
 115833,
 114306,
 113195,
 112017,
 110304,
 107796,
 105444,
 102686,
 100418,
 98030,
 96485,
 94191,
 92457,
 90369,
 87937,
 84698,
 83021,
 79007,
 77741,
 76085,
 73760,
 70873,
 68232,
 65962,
 63840,
 61499,
 58505,
 56055,
 52918,
 50355,
 48102,
 45883,
 43903,
 41777,
 39658,
 36934,
 35108,
 33059,
 31508,
 30357,
 29160,
 27575,
 25733,
 24593,
 23247,
 22025,
 20852,
 19180,
 17887,
 16422,
 15078,
 13549,
 12262,
 11256,
 10357,
 8904,
 7695,
 6980,
 5994,
 5057,
 4596,
 3491,
 3026,
 2538,
 1865,
 1535,
 1273,
 1049,
 753,
 585,
 422,
 288,
 159,
 93,
 64,
 46,
 32,
 25,
 19,
 19,
 7,
 6,
 6,
 5,
 5,
 4]

In [12]:
df2=pd.DataFrame({'Date':d_dates,'Rate':rate, 'Deaths':deaths, 'Tests':test_increase, 
                  'Positive':positive_increase, 'Currently_Hospitalized':h_currently, 
                  'Date_String':f_dates, 'Total_Positive':t_pos, 'Total_Deaths':t_deaths})
df2.set_index('Date_String', inplace=True)
df3 = df2[str(date.today()):'2020-03-02']

In [13]:
df4=df3['Rate']

ra=pd.DataFrame()
ra['Average']=df4.rolling(7).mean()
ra['Date'] = df3['Date']
ra.set_index('Date', inplace=True)
print(ra)

             Average
Date
2020-07-02       NaN
2020-07-01       NaN
2020-06-30       NaN
2020-06-29       NaN
2020-06-28       NaN
...              ...
2020-03-08  0.283970
2020-03-07  0.240319
2020-03-06  0.211748
2020-03-05  0.184537
2020-03-04  0.184537

[121 rows x 1 columns]

In [14]:
df5=df3.copy()
r_a=ra['Average']
df5['Rolling Average']=ra
df5

,Date,Rate,Deaths,Tests,Positive,Currently_Hospitalized,Total_Positive,Total_Deaths,Rolling Average
Date_String,,,,,,,,,
2020-07-02,2020-07-02,0.000000,0,0,0,1651.0,145066,7152.0,NaN
2020-07-01,2020-07-01,0.025023,28,33090,828,1511.0,145066,7152.0,NaN
2020-06-30,2020-06-30,0.023303,21,31069,724,1560.0,144238,7124.0,NaN
2020-06-29,2020-06-29,0.027417,14,26918,738,1501.0,143514,7103.0,NaN
2020-06-28,2020-06-28,0.027155,15,23789,646,1464.0,142776,7089.0,NaN
...,...,...,...,...,...,...,...,...,...
2020-03-08,2020-03-08,0.000000,0,0,0,NaN,6,NaN,0.283970
2020-03-07,2020-03-07,0.083333,0,12,1,NaN,6,NaN,0.240319
2020-03-06,2020-03-06,0.000000,0,15,0,NaN,5,NaN,0.211748
2020-03-05,2020-03-05,0.023810,0,42,1,NaN,5,NaN,0.184537
2020-03-04,2020-03-04,0.000000,0,0,0,NaN,4,NaN,0.184537

In [15]:
df2.to_excel('C:\Shiven\Python\Projects\COVID-19\States\IL\df2.xlsx', index = False, header=True)

In [16]:
g=figure(title="COVID-19 Positivity Rate in Illinois (Shiven Patel)", x_axis_type='datetime')
g.line(x='Date', y='Rate', source=df5, line_color='navy', line_width=2.5)
g.line(x='Date', y='Rolling Average', source=df5, line_color='gray', line_width=2.5)


hover = HoverTool()
hover.tooltips=[
    ('Dates', '@Date_String'),
    ('Deaths', '@Deaths'),
    ('Positive Cases', '@Positive'),
    ('Currently Hospitalized', '@Currently_Hospitalized'),
    ('Total Cases', '@Total_Positive'),
    ('Total Deaths', '@Total_Deaths')
]

g.add_tools(hover)
show(g)