In [19]:
import numpy as np
import pandas as pd
from bokeh.plotting import figure, output_file, show
from datetime import datetime
import urllib.request as request
import json 
from operator import truediv 
from bokeh.models import ColumnDataSource
from bokeh.models.tools import HoverTool
from datetime import date

output_file('fl_covid-19_positivityrate.html')

In [20]:
data=pd.read_json('https://covidtracking.com/api/v1/states/fl/daily.json')
df=pd.DataFrame(data)

In [21]:
positive_increase=df['positiveIncrease']
positive_increase.tolist()

[5266,
 8530,
 9585,
 8942,
 5004,
 5511,
 3286,
 2926,
 3494,
 4049,
 3822,
 3207,
 2610,
 2783,
 1758,
 2016,
 2581,
 1902,
 1698,
 1371,
 1096,
 966,
 1180,
 1270,
 1305,
 1419,
 1317,
 617,
 667,
 739,
 927,
 1212,
 651,
 379,
 509,
 879,
 740,
 676,
 776,
 1204,
 527,
 502,
 854,
 777,
 1601,
 0,
 808,
 479,
 941,
 386,
 595,
 802,
 371,
 826,
 563,
 542,
 819,
 615,
 735,
 1038,
 497,
 347,
 708,
 610,
 689,
 665,
 1342,
 523,
 814,
 835,
 664,
 727,
 1150,
 1222,
 386,
 1144,
 766,
 1246,
 861,
 963,
 1167,
 909,
 708,
 1423,
 1173,
 1040,
 1526,
 1575,
 1055,
 617,
 865,
 1227,
 483,
 998,
 410,
 673,
 270,
 241,
 341,
 172,
 138,
 130,
 76,
 128,
 45,
 25,
 39,
 27,
 18,
 4,
 9,
 1,
 1,
 3,
 5,
 0,
 7,
 0]

In [22]:
test_increase=df['totalTestResultsIncrease']
test_increase.tolist()

[30846,
 52372,
 60640,
 48241,
 52302,
 27590,
 23265,
 18191,
 38024,
 28401,
 21559,
 25553,
 25450,
 30125,
 21169,
 38602,
 34514,
 29151,
 27725,
 20718,
 23755,
 18392,
 41973,
 39245,
 27897,
 26130,
 31161,
 9352,
 19051,
 26381,
 11729,
 31623,
 18045,
 10347,
 14989,
 37000,
 14798,
 20941,
 21567,
 42581,
 55493,
 39443,
 24620,
 21745,
 21210,
 0,
 14074,
 15159,
 18547,
 22109,
 11217,
 14390,
 20391,
 12899,
 14360,
 21421,
 16081,
 12177,
 13313,
 20294,
 8917,
 6613,
 10412,
 11850,
 11514,
 16140,
 20251,
 8081,
 11568,
 10834,
 10146,
 9552,
 11690,
 15589,
 5739,
 10329,
 6973,
 13454,
 9820,
 10103,
 10281,
 9415,
 4972,
 14888,
 9870,
 11337,
 10345,
 14426,
 10812,
 5861,
 6925,
 10382,
 4187,
 8178,
 4855,
 9040,
 2517,
 2305,
 3414,
 1583,
 4847,
 467,
 384,
 413,
 301,
 31,
 239,
 27,
 195,
 4,
 88,
 83,
 23,
 21,
 50,
 24,
 14,
 0]

In [23]:
dates=df['date']
dates.tolist()

[20200629,
 20200628,
 20200627,
 20200626,
 20200625,
 20200624,
 20200623,
 20200622,
 20200621,
 20200620,
 20200619,
 20200618,
 20200617,
 20200616,
 20200615,
 20200614,
 20200613,
 20200612,
 20200611,
 20200610,
 20200609,
 20200608,
 20200607,
 20200606,
 20200605,
 20200604,
 20200603,
 20200602,
 20200601,
 20200531,
 20200530,
 20200529,
 20200528,
 20200527,
 20200526,
 20200525,
 20200524,
 20200523,
 20200522,
 20200521,
 20200520,
 20200519,
 20200518,
 20200517,
 20200516,
 20200515,
 20200514,
 20200513,
 20200512,
 20200511,
 20200510,
 20200509,
 20200508,
 20200507,
 20200506,
 20200505,
 20200504,
 20200503,
 20200502,
 20200501,
 20200430,
 20200429,
 20200428,
 20200427,
 20200426,
 20200425,
 20200424,
 20200423,
 20200422,
 20200421,
 20200420,
 20200419,
 20200418,
 20200417,
 20200416,
 20200415,
 20200414,
 20200413,
 20200412,
 20200411,
 20200410,
 20200409,
 20200408,
 20200407,
 20200406,
 20200405,
 20200404,
 20200403,
 20200402,
 20200401,
 20200331,
 20200330,
 20200329,
 20200328,
 20200327,
 20200326,
 20200325,
 20200324,
 20200323,
 20200322,
 20200321,
 20200320,
 20200319,
 20200318,
 20200317,
 20200316,
 20200315,
 20200314,
 20200313,
 20200312,
 20200311,
 20200310,
 20200309,
 20200308,
 20200307,
 20200306,
 20200305,
 20200304]

In [24]:
positive=df['positive']
positive.tolist()

h_currently=df['hospitalizedCurrently']
h_currently.tolist()

deaths=df['deathIncrease']
deaths.tolist()

[28,
 29,
 25,
 41,
 46,
 44,
 67,
 12,
 17,
 40,
 43,
 44,
 25,
 55,
 8,
 6,
 49,
 29,
 49,
 38,
 53,
 12,
 13,
 28,
 54,
 41,
 37,
 70,
 9,
 4,
 35,
 49,
 46,
 62,
 7,
 15,
 4,
 44,
 46,
 49,
 44,
 56,
 24,
 9,
 49,
 43,
 50,
 49,
 44,
 14,
 6,
 47,
 71,
 62,
 69,
 113,
 20,
 15,
 74,
 24,
 50,
 86,
 53,
 7,
 19,
 44,
 52,
 69,
 54,
 50,
 25,
 27,
 55,
 53,
 37,
 72,
 54,
 18,
 27,
 48,
 36,
 45,
 13,
 60,
 18,
 27,
 28,
 35,
 41,
 10,
 14,
 7,
 2,
 20,
 6,
 6,
 4,
 4,
 1,
 1,
 2,
 2,
 1,
 1,
 2,
 0,
 1,
 1,
 0,
 0,
 2,
 0,
 0,
 0,
 0,
 0,
 0,
 0]

In [25]:
date1 = ('2020-01-29')
date2 = (str(date.today()))
date_range=pd.date_range(date1, date2).to_pydatetime().tolist()

In [26]:
rate=[]
for p, t in zip(positive_increase, test_increase):
    if t==0:
        rate.append(0)
    else:
        rate.append(p/t)

In [27]:
m_dates = []
for item in dates:
    m_dates.append(str(item))

In [28]:
r_dates = []
def insertChar(mystring, position, chartoinsert ):
    longi = len(mystring)
    mystring   =  mystring[:position] + chartoinsert + mystring[position:] 
    return mystring 
    
for m in m_dates:
    r_dates.append(insertChar(m, 4, '-'))

f_dates = []
for r in r_dates:
    f_dates.append(insertChar(r, 7, '-'))

d_dates = []
for f in f_dates:
    d_dates.append(datetime.strptime(f, '%Y-%m-%d'))

In [29]:
t_deaths=df['death']
t_deaths.tolist()

t_pos=df['positive']
t_pos.tolist()

[146341,
 141075,
 132545,
 122960,
 114018,
 109014,
 103503,
 100217,
 97291,
 93797,
 89748,
 85926,
 82719,
 80109,
 77326,
 75568,
 73552,
 70971,
 69069,
 67371,
 66000,
 64904,
 63938,
 62758,
 61488,
 60183,
 58764,
 57447,
 56830,
 56163,
 55424,
 54497,
 53285,
 52634,
 52255,
 51746,
 50867,
 50127,
 49451,
 48675,
 47471,
 46944,
 46442,
 45588,
 44811,
 43210,
 43210,
 42402,
 41923,
 40982,
 40596,
 40001,
 39199,
 38828,
 38002,
 37439,
 36897,
 36078,
 35463,
 34728,
 33690,
 33193,
 32846,
 32138,
 31528,
 30839,
 30174,
 28832,
 28309,
 27495,
 26660,
 25996,
 25269,
 24119,
 22897,
 22511,
 21367,
 20601,
 19355,
 18494,
 17531,
 16364,
 15455,
 14747,
 13324,
 12151,
 11111,
 9585,
 8010,
 6955,
 6338,
 5473,
 4246,
 3763,
 2765,
 2355,
 1682,
 1412,
 1171,
 830,
 658,
 520,
 390,
 314,
 186,
 141,
 116,
 77,
 50,
 32,
 28,
 19,
 18,
 17,
 14,
 9,
 9,
 2]

In [30]:
df2=pd.DataFrame({'Date':d_dates,'Rate':rate, 'Deaths':deaths, 'Tests':test_increase, 
                  'Positive':positive_increase, 'Currently_Hospitalized':h_currently, 
                  'Date_String':f_dates, 'Total_Positive':t_pos, 'Total_Deaths':t_deaths})
df2.set_index('Date_String', inplace=True)
df3 = df2[str(date.today()):'2020-03-02']

In [31]:
df4=df3['Rate']

ra=pd.DataFrame()
ra['Average']=df4.rolling(7).mean()
ra['Date'] = df3['Date']
ra.set_index('Date', inplace=True)
print(ra)

             Average
Date
2020-06-29       NaN
2020-06-28       NaN
2020-06-27       NaN
2020-06-26       NaN
2020-06-25       NaN
...              ...
2020-03-08  0.341852
2020-03-07  0.213281
2020-03-06  0.200094
2020-03-05  0.128665
2020-03-04  0.114055

[118 rows x 1 columns]

In [32]:
df5=df3.copy()
r_a=ra['Average']
df5['Rolling Average']=ra
df5

,Date,Rate,Deaths,Tests,Positive,Currently_Hospitalized,Total_Positive,Total_Deaths,Rolling Average
Date_String,,,,,,,,,
2020-06-29,2020-06-29,0.170719,28,30846,5266,NaN,146341,3546.0,NaN
2020-06-28,2020-06-28,0.162873,29,52372,8530,NaN,141075,3518.0,NaN
2020-06-27,2020-06-27,0.158064,25,60640,9585,NaN,132545,3489.0,NaN
2020-06-26,2020-06-26,0.185361,41,48241,8942,NaN,122960,3464.0,NaN
2020-06-25,2020-06-25,0.095675,46,52302,5004,NaN,114018,3423.0,NaN
...,...,...,...,...,...,...,...,...,...
2020-03-08,2020-03-08,0.142857,0,21,3,NaN,17,NaN,0.341852
2020-03-07,2020-03-07,0.100000,0,50,5,NaN,14,NaN,0.213281
2020-03-06,2020-03-06,0.000000,0,24,0,NaN,9,NaN,0.200094
2020-03-05,2020-03-05,0.500000,0,14,7,NaN,9,NaN,0.128665
2020-03-04,2020-03-04,0.000000,0,0,0,NaN,2,NaN,0.114055

In [33]:
df2.to_excel('C:\Shiven\Python\Projects\COVID-19\States\FL\df2.xlsx', index = False, header=True)

In [34]:
g=figure(title="COVID-19 Positivity Rate in Florida (Shiven Patel)", x_axis_type='datetime')
g.line(x='Date', y='Rate', source=df5, line_color='navy', line_width=2.5)
g.line(x='Date', y='Rolling Average', source=df5, line_color='gray', line_width=2.5)

hover = HoverTool()
hover.tooltips=[
    ('Dates', '@Date_String'),
    ('Deaths', '@Deaths'),
    ('Positive Cases', '@Positive'),
    ('Currently Hospitalized', '@Currently_Hospitalized'),
    ('Total Cases', '@Total_Positive'),
    ('Total Deaths', '@Total_Deaths')
]

g.add_tools(hover)
show(g)