In [19]:
import numpy as np
import pandas as pd
from bokeh.plotting import figure, output_file, show
from datetime import datetime
import urllib.request as request
import json 
from operator import truediv 
from bokeh.models import ColumnDataSource
from bokeh.models.tools import HoverTool
from datetime import date

output_file('ny_covid-19_positivityrate.html')

In [20]:
data=pd.read_json('https://covidtracking.com/api/v1/states/ny/daily.json')
df=pd.DataFrame(data)

In [21]:
positive_increase=df['positiveIncrease']
positive_increase.tolist()

[391,
 616,
 703,
 805,
 749,
 581,
 597,
 552,
 664,
 716,
 796,
 618,
 567,
 631,
 620,
 694,
 916,
 822,
 736,
 674,
 683,
 702,
 781,
 1108,
 1075,
 1048,
 1045,
 1329,
 941,
 1110,
 1376,
 1551,
 1768,
 1129,
 1072,
 1249,
 1589,
 1772,
 1696,
 2088,
 1525,
 1474,
 1250,
 1889,
 2419,
 2762,
 2390,
 2176,
 1430,
 1660,
 2273,
 2715,
 2758,
 3671,
 2786,
 2239,
 2538,
 3438,
 4663,
 3942,
 4681,
 4585,
 3110,
 3951,
 5902,
 10553,
 8130,
 6244,
 5526,
 4178,
 4726,
 6054,
 7090,
 7358,
 8505,
 11571,
 7177,
 6337,
 8236,
 9946,
 10575,
 10621,
 10453,
 8174,
 8658,
 8327,
 10841,
 10482,
 8669,
 7917,
 9298,
 6984,
 7195,
 7683,
 7377,
 6447,
 5146,
 4790,
 5707,
 4812,
 3254,
 2950,
 1770,
 682,
 750,
 221,
 205,
 103,
 205,
 0,
 43,
 31,
 37,
 29,
 43,
 11,
 16,
 0]

In [22]:
test_increase=df['totalTestResultsIncrease']
test_increase.tolist()

[46428,
 61906,
 73262,
 61723,
 67642,
 51144,
 48709,
 56780,
 67526,
 68830,
 79303,
 68541,
 59341,
 60568,
 56611,
 62359,
 70840,
 72395,
 60839,
 62297,
 49973,
 58054,
 60435,
 77895,
 66480,
 63559,
 61642,
 54054,
 49952,
 58444,
 61251,
 67341,
 65245,
 37416,
 34679,
 39623,
 47765,
 51268,
 45738,
 49219,
 38097,
 28182,
 26161,
 34679,
 40669,
 39291,
 39850,
 33794,
 20462,
 21653,
 29230,
 32225,
 31627,
 33995,
 27022,
 21589,
 21399,
 26840,
 31633,
 26802,
 28155,
 27487,
 18899,
 20745,
 27782,
 46912,
 34736,
 25938,
 20657,
 15464,
 16306,
 21023,
 23309,
 22644,
 24567,
 26869,
 20786,
 16756,
 20621,
 23095,
 26336,
 26396,
 25095,
 19247,
 18531,
 18659,
 23101,
 21555,
 18085,
 15694,
 18718,
 14108,
 16426,
 10181,
 23649,
 18625,
 12209,
 12981,
 16888,
 15964,
 13010,
 10143,
 7687,
 7391,
 1713,
 221,
 1969,
 103,
 2892,
 0,
 43,
 31,
 37,
 29,
 43,
 27,
 44,
 0]

In [23]:
dates=df['date']
dates.tolist()

[20200629,
 20200628,
 20200627,
 20200626,
 20200625,
 20200624,
 20200623,
 20200622,
 20200621,
 20200620,
 20200619,
 20200618,
 20200617,
 20200616,
 20200615,
 20200614,
 20200613,
 20200612,
 20200611,
 20200610,
 20200609,
 20200608,
 20200607,
 20200606,
 20200605,
 20200604,
 20200603,
 20200602,
 20200601,
 20200531,
 20200530,
 20200529,
 20200528,
 20200527,
 20200526,
 20200525,
 20200524,
 20200523,
 20200522,
 20200521,
 20200520,
 20200519,
 20200518,
 20200517,
 20200516,
 20200515,
 20200514,
 20200513,
 20200512,
 20200511,
 20200510,
 20200509,
 20200508,
 20200507,
 20200506,
 20200505,
 20200504,
 20200503,
 20200502,
 20200501,
 20200430,
 20200429,
 20200428,
 20200427,
 20200426,
 20200425,
 20200424,
 20200423,
 20200422,
 20200421,
 20200420,
 20200419,
 20200418,
 20200417,
 20200416,
 20200415,
 20200414,
 20200413,
 20200412,
 20200411,
 20200410,
 20200409,
 20200408,
 20200407,
 20200406,
 20200405,
 20200404,
 20200403,
 20200402,
 20200401,
 20200331,
 20200330,
 20200329,
 20200328,
 20200327,
 20200326,
 20200325,
 20200324,
 20200323,
 20200322,
 20200321,
 20200320,
 20200319,
 20200318,
 20200317,
 20200316,
 20200315,
 20200314,
 20200313,
 20200312,
 20200311,
 20200310,
 20200309,
 20200308,
 20200307,
 20200306,
 20200305,
 20200304]

In [24]:
positive=df['positive']
positive.tolist()

h_currently=df['hospitalizedCurrently']
h_currently.tolist()

deaths=df['deathIncrease']
deaths.tolist()

[7,
 5,
 16,
 14,
 18,
 16,
 27,
 14,
 15,
 24,
 25,
 32,
 21,
 29,
 28,
 24,
 32,
 53,
 38,
 56,
 49,
 40,
 47,
 37,
 42,
 54,
 56,
 64,
 54,
 57,
 68,
 58,
 79,
 79,
 76,
 97,
 109,
 87,
 112,
 107,
 133,
 114,
 110,
 141,
 174,
 134,
 157,
 168,
 205,
 162,
 207,
 226,
 217,
 951,
 232,
 230,
 226,
 280,
 299,
 289,
 306,
 377,
 335,
 337,
 367,
 437,
 422,
 438,
 474,
 481,
 478,
 507,
 540,
 630,
 606,
 752,
 778,
 671,
 758,
 783,
 777,
 799,
 779,
 731,
 599,
 594,
 630,
 562,
 432,
 391,
 332,
 253,
 237,
 209,
 134,
 100,
 75,
 96,
 0,
 70,
 9,
 23,
 0,
 5,
 0,
 4,
 3,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0]

In [25]:
date1 = ('2020-01-29')
date2 = (str(date.today()))
date_range=pd.date_range(date1, date2).to_pydatetime().tolist()

In [26]:
rate=[]
for p, t in zip(positive_increase, test_increase):
    if t==0:
        rate.append(0)
    else:
        rate.append(p/t)

In [27]:
m_dates = []
for item in dates:
    m_dates.append(str(item))

In [28]:
r_dates = []
def insertChar(mystring, position, chartoinsert ):
    longi = len(mystring)
    mystring   =  mystring[:position] + chartoinsert + mystring[position:] 
    return mystring 
    
for m in m_dates:
    r_dates.append(insertChar(m, 4, '-'))

f_dates = []
for r in r_dates:
    f_dates.append(insertChar(r, 7, '-'))

d_dates = []
for f in f_dates:
    d_dates.append(datetime.strptime(f, '%Y-%m-%d'))

In [29]:
t_deaths=df['death']
t_deaths.tolist()

t_pos=df['positive']
t_pos.tolist()

[392930,
 392539,
 391923,
 391220,
 390415,
 389666,
 389085,
 388488,
 387936,
 387272,
 386556,
 385760,
 385142,
 384575,
 383944,
 383324,
 382630,
 381714,
 380892,
 380156,
 379482,
 378799,
 378097,
 377316,
 376208,
 375133,
 374085,
 373040,
 371711,
 370770,
 369660,
 368284,
 366733,
 364965,
 363836,
 362764,
 361515,
 359926,
 358154,
 356458,
 354370,
 352845,
 351371,
 350121,
 348232,
 345813,
 343051,
 340661,
 338485,
 337055,
 335395,
 333122,
 330407,
 327649,
 323978,
 321192,
 318953,
 316415,
 312977,
 308314,
 304372,
 299691,
 295106,
 291996,
 288045,
 282143,
 271590,
 263460,
 257216,
 251690,
 247512,
 242786,
 236732,
 229642,
 222284,
 213779,
 202208,
 195031,
 188694,
 180458,
 170512,
 159937,
 149316,
 138863,
 130689,
 122031,
 113704,
 102863,
 92381,
 83712,
 75795,
 66497,
 59513,
 52318,
 44635,
 37258,
 30811,
 25665,
 20875,
 15168,
 10356,
 7102,
 4152,
 2382,
 1700,
 950,
 729,
 524,
 421,
 216,
 216,
 173,
 142,
 105,
 76,
 33,
 22,
 6]

In [30]:
df2=pd.DataFrame({'Date':d_dates,'Rate':rate, 'Deaths':deaths, 'Tests':test_increase, 
                  'Positive':positive_increase, 'Currently_Hospitalized':h_currently, 
                  'Date_String':f_dates, 'Total_Positive':t_pos, 'Total_Deaths':t_deaths})
df2.set_index('Date_String', inplace=True)
df3 = df2[str(date.today()):'2020-03-02']

In [31]:
df4=df3['Rate']

ra=pd.DataFrame()
ra['Average']=df4.rolling(7).mean()
ra['Date'] = df3['Date']
ra.set_index('Date', inplace=True)
print(ra)

             Average
Date
2020-06-29       NaN
2020-06-28       NaN
2020-06-27       NaN
2020-06-26       NaN
2020-06-25       NaN
...              ...
2020-03-08  0.724412
2020-03-07  0.724412
2020-03-06  0.772487
2020-03-05  0.824435
2020-03-04  0.681578

[118 rows x 1 columns]

In [32]:
df5=df3.copy()
r_a=ra['Average']
df5['Rolling Average']=ra
df5

,Date,Rate,Deaths,Tests,Positive,Currently_Hospitalized,Total_Positive,Total_Deaths,Rolling Average
Date_String,,,,,,,,,
2020-06-29,2020-06-29,0.008422,7,46428,391,853.0,392930,24842.0,NaN
2020-06-28,2020-06-28,0.009951,5,61906,616,869.0,392539,24835.0,NaN
2020-06-27,2020-06-27,0.009596,16,73262,703,908.0,391923,24830.0,NaN
2020-06-26,2020-06-26,0.013042,14,61723,805,951.0,391220,24814.0,NaN
2020-06-25,2020-06-25,0.011073,18,67642,749,996.0,390415,24800.0,NaN
...,...,...,...,...,...,...,...,...,...
2020-03-08,2020-03-08,1.000000,0,29,29,NaN,105,NaN,0.724412
2020-03-07,2020-03-07,1.000000,0,43,43,NaN,76,NaN,0.724412
2020-03-06,2020-03-06,0.407407,0,27,11,NaN,33,NaN,0.772487
2020-03-05,2020-03-05,0.363636,0,44,16,NaN,22,NaN,0.824435
2020-03-04,2020-03-04,0.000000,0,0,0,NaN,6,NaN,0.681578

In [33]:
g=figure(title="COVID-19 Positivity Rate in New York (Shiven Patel)", x_axis_type='datetime')
g.line(x='Date', y='Rate', source=df5, line_color='navy', line_width=2.5)
g.line(x='Date', y='Rolling Average', source=df5, line_color='gray', line_width=2.5)

hover = HoverTool()
hover.tooltips=[
    ('Dates', '@Date_String'),
    ('Deaths', '@Deaths'),
    ('Positive Cases', '@Positive'),
    ('Currently Hospitalized', '@Currently_Hospitalized'),
    ('Total Cases', '@Total_Positive'),
    ('Total Deaths', '@Total_Deaths')
]

g.add_tools(hover)
show(g)